<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("../partials/head") %>
    <link rel="stylesheet" href="static/css/auth/auth.css">
</head>
<body>
    <main class="authContainer">
        <form id="recoveryForm">
            <label for="email">Email</label>
            <input type="email" style="margin-bottom: 12px;" id="email">
            <input type="submit" id="submit-btn" value="Recovery My Account" style="margin-bottom: 12px;">
            <p id="message"></p>
        </form>
    </main>

    <script>
      document
        .getElementById("recoveryForm")
        .addEventListener("submit", async (event) => {
          event.preventDefault();

          const email = document.getElementById("email").value;

          try {
            const response = await fetch("/api/auth/recovery", {
              method: "POST",
              headers: { "Content-Type": "application/json" },
              body: JSON.stringify({ email }),
            });

            const result = await response.json();

            if (response.ok) {
                message.style.color = "green";
                message.textContent = result.message;
            } else {
                message.style.color = "red";
                message.textContent = result.message;
            }
          } catch (e) {
            console.error(error);
            message.style.color = "red";
            message.textContent = "Something went wrong. Please try again.";
          }
        });
    </script>
</body>
</html>